absl-py==0.9.0
appdirs==1.4.3
astor==0.8.1
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
foolbox==2.0.0
gast==0.3.2
gitdb==4.0.5
GitPython==3.1.12
grpcio==1.26.0
h5py==2.10.0
idna==2.10
joblib==0.14.1
jupyter==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.2
mock==3.0.5
nose==1.3.7
numpy==1.18.1
pandas==0.25.3
ply==3.11
protobuf==3.11.2
PuLP==2.0
Pyomo==5.6.8
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyUtilib==5.7.3
requests==2.25.1
scikit-learn==0.23.0
scipy==1.4.1
six==1.13.0
sklearn==0.0
smmap==3.0.5
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
threadpoolctl==2.0.0
urllib3==1.26.3
Werkzeug==0.16.0
